.landing-page-web {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  background-image: url("img/background-image.png");
  background-size: cover; /* Ensures it covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
}

/* Responsive Navigation Bar */
.landing-page-web .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Makes it adapt to screen width */
  max-width: 1600px; /* Prevents it from stretching too much */
  padding-bottom: 0.5rem;
  background-color: #ffffff;
}

.landing-page-web .logo-container .logo {
  width: 190px;
  height: 29px;
  margin-left: 2rem;
}

.landing-page-web .enquiry {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  flex: 0 0 auto;
  margin-right: 2rem;
}

.landing-page-web .phone-contact {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page-web .phone-icon {
  position: relative;
  width: 14px;
  height: 16px;
}

.landing-page-web .phone-number {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-neutral-soft-black-100);
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page-web .button-wrapper {
  width: 180px;
  height: 50px;
}

.tour-booking-button {
  width: 100%;
  height: 100%;
  background-color: #00aa6c;
  border: none;
  border-radius: 5.2px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

.landing-page-web .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

/* Responsive Main Content */
.landing-page-web .main-body {
  display: flex;
  flex-direction: column; /* Stack elements on smaller screens */
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  gap: 30px;
  padding: 50px 0;
}

/* Hero Section */
.landing-page-web .hero-section {
  display: inline-flex;
  /*flex-wrap: wrap; /* Allows elements to wrap if needed */
  justify-content: space-between;
  width: 78%;
  max-width: 1200px;
  gap: 2rem;
  padding: 38px 72px;
  background-color: var(--variable-collection-green-green-40);
  border-radius: 10px;
}

/* Left Section (Text) */
.landing-page-web .left-section {
  display: flex;
  flex-direction: column;
  width: 482px;
  gap: 36px;
}

.landing-page-web .group-wrapper {
  position: relative;
  width: 158px;
  height: 26px;
  background-color: var(--variable-collection-neutral-white);
  border-radius: 5px;
}

.landing-page-web .group {
  position: relative;
  width: 146px;
  height: 17px;
  top: 4px;
  left: 8px;
}

.landing-page-web .group-2 {
  position: absolute;
  width: 85px;
  height: 17px;
  top: 0;
  left: 18px;
}

.landing-page-web .star {
  left: 1px;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1px;
}

.landing-page-web .img {
  left: 18px;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1px;
}

.landing-page-web .star-2 {
  left: 35px;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1px;
}

.landing-page-web .star-3 {
  left: 52px;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1px;
}

.landing-page-web .overlap-group {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1px;
  left: 69px;
  background-image: url(./img/star-5.svg);
  background-size: 100% 100%;
}

.landing-page-web .subtract {
  position: absolute;
  width: 9px;
  height: 15px;
  top: 0;
  left: 0;
}

.landing-page-web .g {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 2px;
  left: 0;
  object-fit: cover;
}

.landing-page-web .text-wrapper-3 {
  position: absolute;
  top: 4px;
  left: 107px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-neutral-soft-black-100);
  font-size: 10px;
  letter-spacing: -0.3px;
  line-height: normal;
  white-space: nowrap;
}

.landing-page-web .frame-2 {
  display: flex;
  flex-direction: column;
  width: 482px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.landing-page-web .small-warehouse {
  width: 482px;
  margin-top: -1px;
  font-family: var(--h1-poppins-semibold-48-font-family);
  font-weight: var(--h1-poppins-semibold-48-font-weight);
  color: transparent;
  letter-spacing: var(--h1-poppins-semibold-48-letter-spacing);
  line-height: var(--h1-poppins-semibold-48-line-height);
  font-style: var(--h1-poppins-semibold-48-font-style);
}

.landing-page-web .span {
  color: #000000;
  font-family: var(--h1-poppins-semibold-48-font-family);
  font-style: var(--h1-poppins-semibold-48-font-style);
  font-weight: var(--h1-poppins-semibold-48-font-weight);
  letter-spacing: var(--h1-poppins-semibold-48-letter-spacing);
  line-height: var(--h1-poppins-semibold-48-line-height);
  font-size: var(--h1-poppins-semibold-48-font-size);
}

.landing-page-web .text-wrapper-4 {
  color: #00aa6c;
  font-family: var(--h1-poppins-semibold-48-font-family);
  font-style: var(--h1-poppins-semibold-48-font-style);
  font-weight: var(--h1-poppins-semibold-48-font-weight);
  letter-spacing: var(--h1-poppins-semibold-48-letter-spacing);
  line-height: var(--h1-poppins-semibold-48-line-height);
  font-size: var(--h1-poppins-semibold-48-font-size);
}

.landing-page-web .frame-3 {
  display: flex;
  flex-direction: column;
  width: 489px;
  align-items: flex-start;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page-web .frame-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page-web .frame-5 {
  position: relative;
  width: 34.53px;
  height: 34.53px;
}

.landing-page-web .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page-web .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-neutral-soft-black-100);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.landing-page-web .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  font-family: var(--medium-tag-16-pts-font-family);
  font-weight: var(--medium-tag-16-pts-font-weight);
  color: var(--variable-collection-neutral-soft-black-100);
  font-size: var(--medium-tag-16-pts-font-size);
  letter-spacing: var(--medium-tag-16-pts-letter-spacing);
  line-height: var(--medium-tag-16-pts-line-height);
  font-style: var(--medium-tag-16-pts-font-style);
}

.landing-page-web .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 0 0 auto;
}

.landing-page-web .frame-8 {
  display: inline-flex;
  align-items: center;
  gap: 15.88px;
  flex: 0 0 auto;
}

.landing-page-web .img-wrapper {
  position: relative;
  width: 100px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 6.62px;
  overflow: hidden;
}

.landing-page-web .img-2 {
  position: absolute;
  width: 100px;
  height: 80px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landing-page-web .p {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-green-green-100);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

/* Right Section (Form) */
.landing-page-web .right-section {
  flex: 1;
  max-width: 350px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

.landing-page-web .form-section {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.landing-page-web .form-section .form-header {
  display: flex;
  flex-direction: column;
}

.landing-page-web .text-wrapper-7 {
  width: fit-content;
  margin-top: -1px;
  font-family: var(--headline-28-font-family);
  font-weight: var(--headline-28-font-weight);
  color: #000000;
  font-size: var(--headline-28-font-size);
  letter-spacing: var(--headline-28-letter-spacing);
  line-height: var(--headline-28-line-height);
  white-space: nowrap;
  font-style: var(--headline-28-font-style);
}

.landing-page-web .frame-9 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page-web .frame-10 {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.landing-page-web .image-wrapper {
  position: relative;
  width: 55.25px;
  height: 55.25px;
  background-color: #ffffff;
  border-radius: 28.32px;
  overflow: hidden;
}

.landing-page-web .image {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landing-page-web .frame-11 {
  position: relative;
  width: 55.25px;
  height: 55.25px;
  margin-left: -12px;
  background-color: #ffffff;
  border-radius: 28.32px;
  overflow: hidden;
}

.landing-page-web .cashana-or-khadijah {
  width: 239.5px;
  height: 55.5px;
  padding-top: 1rem;
  font-family: var(--medium-tag-16-pts-font-family);
  font-weight: var(--medium-tag-16-pts-font-weight);
  color: var(--variable-collection-neutral-soft-black-100);
  font-size: var(--medium-tag-16-pts-font-size);
  letter-spacing: var(--medium-tag-16-pts-letter-spacing);
  line-height: var(--medium-tag-16-pts-line-height);
  font-style: var(--medium-tag-16-pts-font-style);
}

.landing-page-web .text-wrapper-8 {
  width: 100%;
  font-family: var(--medium-tag-16-pts-font-family);
  font-weight: var(--medium-tag-16-pts-font-weight);
  color: #102442;
  font-size: var(--medium-tag-16-pts-font-size);
  letter-spacing: var(--medium-tag-16-pts-letter-spacing);
  font-style: var(--medium-tag-16-pts-font-style);
  line-height: var(--medium-tag-16-pts-line-height);
}

.landing-page-web .text-wrapper-9 {
  font-style: italic;
  font-family: var(--medium-tag-16-pts-font-family);
  font-weight: var(--medium-tag-16-pts-font-weight);
  letter-spacing: var(--medium-tag-16-pts-letter-spacing);
  line-height: var(--medium-tag-16-pts-line-height);
  font-size: var(--medium-tag-16-pts-font-size);
}

.landing-page-web .div-3 {
  display: flex;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.landing-page-web .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page-web .frame-12 {
  display: flex;
  height: 48px;
  align-items: center;
  gap: 14px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-neutral-white);
  border-radius: 4px;
  border: 2px solid;
  border-color: var(--variable-collection-neutral-gray-160);
}

.landing-page-web .text-wrapper-10 {
  width: 90%;
  height: 38px;
  padding: 0px 16px;
  font-family: var(--medium-tag-16-pts-font-family);
  font-weight: var(--medium-tag-16-pts-font-weight);
  color: var(--variable-collection-neutral-black40);
  background-color: var(--variable-collection-neutral-white);
  font-size: var(--medium-tag-16-pts-font-size);
  letter-spacing: var(--medium-tag-16-pts-letter-spacing);
  line-height: var(--medium-tag-16-pts-line-height);
  white-space: nowrap;
  font-style: var(--medium-tag-16-pts-font-style);
  border-radius: 4px;
  border: 2px solid;
  border-color: var(--variable-collection-neutral-gray-160);
}

.landing-page-web .text-wrapper-11 {
  font-family: var(--medium-tag-16-pts-font-family);
  font-weight: var(--medium-tag-16-pts-font-weight);
  color: #00000066;
  font-size: var(--medium-tag-16-pts-font-size);
  letter-spacing: var(--medium-tag-16-pts-letter-spacing);
  font-style: var(--medium-tag-16-pts-font-style);
  line-height: var(--medium-tag-16-pts-line-height);
}

.landing-page-web .text-wrapper-12 {
  font-family: var(--small-tag-14-pts-font-family);
  font-style: var(--small-tag-14-pts-font-style);
  font-size: var(--small-tag-14-pts-font-size);
  line-height: var(--small-tag-14-pts-line-height);
  font-weight: var(--small-tag-14-pts-font-weight);
  letter-spacing: var(--small-tag-14-pts-letter-spacing);
}

/* Responsive Buttons */
.landing-page-web .div-3 .form-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 1rem;
  padding: 12px;
  background-color: #00aa6c;
  border-radius: 5px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.landing-page-web .path {
  position: relative;
  width: 7.22px;
  height: 14.43px;
}

.landing-page-web .div-4 {
  position: relative;
  width: fit-content;
  font-family: var(--medium-tag-16-pts-font-family);
  font-weight: var(--medium-tag-16-pts-font-weight);
  color: var(--variable-collection-neutral-soft-black-100);
  font-size: var(--medium-tag-16-pts-font-size);
  letter-spacing: var(--medium-tag-16-pts-letter-spacing);
  line-height: var(--medium-tag-16-pts-line-height);
  white-space: nowrap;
  font-style: var(--medium-tag-16-pts-font-style);
}

.landing-page-web .text-wrapper-13 {
  color: #00aa6c;
  text-decoration: underline;
  font-family: var(--medium-tag-16-pts-font-family);
  font-style: var(--medium-tag-16-pts-font-style);
  font-weight: var(--medium-tag-16-pts-font-weight);
  letter-spacing: var(--medium-tag-16-pts-letter-spacing);
  line-height: var(--medium-tag-16-pts-line-height);
  font-size: var(--medium-tag-16-pts-font-size);
}

.landing-page-web .internal-link {
  display: inline-flex;
  height: 34px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 18px;
  margin-top: 2rem;
  background-color: var(--variable-collection-green-green-40);
  border-radius: 20px;
}

.landing-page-web .text-wrapper-14 {
  text-decoration: underline;
  font-family: var(--medium-tag-16-pts-font-family);
  font-style: var(--medium-tag-16-pts-font-style);
  font-weight: var(--medium-tag-16-pts-font-weight);
  letter-spacing: var(--medium-tag-16-pts-letter-spacing);
  line-height: var(--medium-tag-16-pts-line-height);
  font-size: var(--medium-tag-16-pts-font-size);
}
